// 连续多行输入 shift+option 
// 点击多行输入 option
* {
  margin: 0;
  padding: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  // ant design有bug，必须覆盖样式
  margin-bottom: 0em;
}

a {  
  // 去掉点击过后的样式  
  text-decoration: none;
  color: white;
  font-size: 14px;
  // 小手
  cursor: pointer;
}

input {
  // 去处搜索的边框
  border: 0 none;
  // 去处聚焦后的效果
  outline-style: none;
}



.large-header {
  // 导航和图片齐平
  position: relative;
}

.bili-top-nav {
  display: flex;
  align-items: center; //子控件flex排列
  width: 100%;
  height: 64px;
  padding: 0 24px; //左右内边距
  position: absolute;
  top: 0;
  z-index: 1000;
}

// 首页番剧等居中 注意：只需要对ul添加样式
.left-entry-ul {
  display: flex;
  align-items: center;
  list-style: none;
  // border-style: solid;
  // border-color: chocolate;
  // border-width: 1px;
}

.left-entry-ul .entry-title {
  display: flex; //让行内元素变成行内块
  align-items: center; //让ul的内部内容变成居中
  padding-right: 8px;
}

.left-entry-ul .entry-title svg {
  margin-right: 6px;
}

// 左侧输入框+右侧按钮
.nav-search-container {
  // 输入框和圆角并排显示
  display: flex;
  align-items: center;
  // 输入框有多少占多少
  flex: 1;
  height: 32px;
  // 圆角边框
  border-radius: 8px;
  border: 1px solid #e3e5d7;
  // 灰色
  background-color: #f1f2f3;
  // 输入框 圆角需要内边距
  padding: 0 4px 0 4px;
  position: relative;
  margin:0 6px;
  // 左侧输入框容器
  .nav-search-content {
    display: flex;
    // 输入框可输入宽度
    width: 95%;
    // 左侧输入框
    .nav-search-input {
      // 自适应
      flex: 1;
      height: 20px;
      width: 100%;
      //点击输入的内边距
      padding: 0 8px;
      //透明色
      background-color: transparent;
      // 文字高度
      line-height: 20px;
      // 溢出切掉
      overflow: hidden;
    }
  }
  // 右侧按钮容器
  .nav-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    //相对父容器  
    position: absolute;  
    right: 7px;
    width: 32px;
    height: 32px;
  }
}

// hover鼠标移到容器上是白色
.nav-search-container:hover {
  background-color: #fff;
}

//  登录 大会员...
.right-entry-ul {
  // 纵向变横向
  display: flex;
  align-items: center;  
  list-style: none;
  // 距离左侧输入框 20px
  margin-left: 10px;
  .header-avator{
    height: 50px;
    width: 50px;
    padding-right: 10px;
    // 设置里面容器布局 外面给相对布局
    position: relative;
    a {
      position: absolute;
      top: 6px;
      left: 8px;
      width: 36px;
      height: 36px;
      // 设置行高，让文字居中
      line-height: 36px;
      border-radius: 50%;//让登录成为圆形
      background-color: #00aeec;
      // 让文字"登录"在水平方向上居中
      display: flex;
      justify-content: center;
    }
  }
  .right-entry-item{
    margin-left: 10px;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
    span {
      font-size: 12px;
    }
    // 设置svg黑色为白色
    color: #fff; 
  }
  .upload { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 34px;
    border-radius: 8px;
    color: #fff;
    background-color: #fb7299;
    margin-left: 10px;
  }
}
  


.bili-middle-banner {
  position: relative;
  height: 155px;
  width: 100%;
  overflow: hidden;
  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // 图片按原比例显示，多余的裁切
    object-fit: cover;
  }
  
  .bilibili-logo{
    width: 100%;
    height: 100%;
    // 相对布局 左右
    padding: 0 64px;
    display: flex;
    align-items: flex-end;    
    // 注意不能使用 .a
    a{      
      position: relative;
      width: 162px;
      height: 78px;
      // 相对布局 下
      margin-bottom: 10px;
    }
  }
  // 图片上加遮罩 否则不好看
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // linear-gradient默认从上到下 注意不是background color
    background: linear-gradient(rgba(0,0,0,0.5),transparent) ;
  }
}

.bili-bottom-channel {
  // 动态热门|番剧生活|专栏直播
  display: flex;
  height: 110px;
  padding: 0 20px;
  // 水平方向居中
  align-items: center;
  .channel-items_left{
    display: flex;
    align-items: center;        
    a{
      // 动态 频道分隔开      
      color: black;
      display: flex;
      flex-direction: column;            
      align-items: center;      
      margin-right: 20px;
      font-size: 12px;      
      //svg
      .channel-items_avator{        
        display: flex;
        // svg 水平 垂直居中
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-bottom: 3px;
      }    
    }    
  }
  // 动态背景颜色
  .icon_dynamic{
    background-color: #ff9212;
  }
  // 频道背景颜色
  .icon_channel{
    background-color: #59ca73;
  }
  .channel-items_middle{
    // grid布局
    display: grid;
    // 2行12列
    grid-template-columns: repeat(10,1fr);
    // 每个item之间间距
    gap: 10px;
    // 宽度全部占满
    width: 100%;
    margin: 0 20px;
    // 每个item的高度 颜色 边框色 圆角
    a{
      height: 24px;
      line-height: 24px;
      color: #61666d;
      background-color: #f6f7f8;
      text-align: center;
      border:1px solid #f1f2f3;
      border-radius: 6px;
      font-size: 12px;
    }
    span{
      margin-right: 2px;
    }
  }
  .channel-items_right{
    // 限制宽度防止被顶飞
    width: 240px;
    display: grid;
    // 2行
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: column;
    row-gap: 10px;    
    a{
      display: flex;
      font-size: 12px;
    }
    // 限制图片大小 设置图片颜色
    svg{
      width: 20px;
      height: 20px;
      margin-right: 2px;
      fill: #61666d;
    }
    span{
      color: #61666d;
    }
  }
}

.main{
  width: 100%;
  padding: 0 20px;
  // 轮播+卡片
  .recommended-container{
    // 整体grid布局
    display: grid;
    // 5列 1fr 片段
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    width: 100%;
  }
  // 卡片
  .recommended-card{
    position: relative;
    img{
      // width+ object-fit一起设置！
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
      // 卡片图片超出裁切    
      overflow: hidden;
    }
  }
  // 轮播
  .recommended-carousel-area{
    display: flex;

    // 第一根线~第三根线
    grid-row: 1/3;
    grid-column: 1/3;
    position: relative;
    overflow: hidden;    
    .carousel-image{
      width: 100%;
      border-radius: 6px;
      object-fit: cover;
      // 卡片图片超出裁切    
      overflow: hidden;
    }
  }
}


